# .gitignore for ProjectHub (DotNet + Angular)

# IDEs
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.shell
*.swp

# Node.js
node_modules/
dist/
.npm/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Environments
.env
.env.*
